{{> head}}
{{> navbar}}
<div class="row">
    <div class="col-8">
        <h1> ABOUT US</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolorem sed corporis commodi quis libero nemo autem possimus laboriosam molestias deleniti error et consectetur, ut quaerat amet voluptas deserunt incidunt inventore.</p>
    </div>
    <div class="col-4">
        <img src="/assets/img/1.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer}}